/*header css*/

#navigationbar {
	width: 100%;
	min-height: 50px;
	background-color: #f8f8f8;
	border: 1px solid transparent;
	border-color: #e7e7e7;
	border-radius: 4px;
	position: relative;
	margin-bottom: 20px;
}

#container1 {
	width: 140px;
	height: 50px;
	margin: 0 auto;
}
.navbar-brand {
	margin: 0 auto;
}

/*scoreboard css*/

#activityheader {
	height: 40px;
}

h4 {
	position: relative;
	float: left;
}
#refresh {
	position: relative;
	float: right;
	margin: 5px 0px 0px 0px;
}
.refreshicon {
	height: 30px;
	width: 30px;
}

#health1 {
	float: left;
}

#health2 {
	float: right;
}

h2 {
	margin: 0px 0px 0px 0px;
}

h5 {
	font-size: 20px;
}

/*senators panels css*/

#senators {
	height: 300px;
	width: 300px;
	margin: 0px 0px 0px 8px;
}

.panel-default {
	background-color: none;
}
.leftwing {
	background-color: blue;
}

.rightwing {
	background-color: red;
}

.clickarea {
	background-color: silver;
	border-bottom: 4px solid black;
	border-radius: 1px;
}

button {
	padding: 0;
	border: none;
	background: none;
	outline: none;
}

button:hover {
	opacity: .5;
}

#crystalscontainer {
	margin: 0px 0px 0px 2px;
}


.politicalattack {
	height: 60px;
	width: 60px;
	margin: 0px 8px 0px 8px;
}

/*activity log css*/


#div1 {
	height: 370px;
	position: relative;
}

#div2 {
	max-height: 100%;
	overflow: auto;
}

#div3 {
	overflow: hidden;
}

/*congressional record css*/

h2.tally {
	margin: 10px 0px 10px 0px;
}

/*choices css*/

.choiceImages {
	height: 110px;
	width: 110px;
	margin: 0px 0px 10px 0px;
}
#choiceContainer {
	height: 480px;
	width: 110px;
	margin: 0px 0px 0px 10px;
}